BASE_URL=""
EVENTS_SOURCE_URL=""
EVENTS_LIMIT=5

MINIO_HOST="minio:9000"
MINIO_USER=
MINIO_PASSWORD=

MINIO_EVENTS_BUCKET_NAME="events"
MINIO_MATCHES_BUCKET_NAME="matches"
MINIO_STATISTICS_BUCKET_NAME="statistics"

HTTP_TIMEOUT_SECONDS=30

SENTRY_DSN=""
SENTRY_ENVIRONMENT=development
SENTRY_TRACES_SAMPLE_RATE=0.0

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

CLICKHOUSE_HOST=
CLICKHOUSE_PORT=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=

AIRFLOW_POSTGRES_HOST=
AIRFLOW_POSTGRES_PORT=
AIRFLOW_POSTGRES_USER=
AIRFLOW_POSTGRES_PASSWORD=
AIRFLOW_POSTGRES_DB=

AIRFLOW_ADMIN_USERNAME=
AIRFLOW_ADMIN_PASSWORD=

AIRFLOW_SECRET_KEY=
AIRFLOW_FERNET_KEY=
AIRFLOW_JWT_SECRET=