BASE_URL=""
EVENTS_SOURCE_URL=""
EVENTS_LIMIT=5

MINIO_HOST="minio:9000"
MINIO_USER=
MINIO_PASSWORD=

MINIO_EVENTS_BUCKET_NAME="events"
MINIO_MATCHES_BUCKET_NAME="matches"
MINIO_STATISTICS_BUCKET_NAME="statistics"

HTTP_TIMEOUT_SECONDS=30

SENTRY_DSN=""
SENTRY_ENVIRONMENT=development
SENTRY_TRACES_SAMPLE_RATE=0.0

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=