BASE_URL=""
EVENTS_SOURCE_URL=""
EVENTS_LIMIT=5

MINIO_HOST="localhost:9000"
MINIO_USER=admin
MINIO_PASSWORD=12345678

MINIO_EVENTS_BUCKET_NAME="events"
MINIO_MATCHES_BUCKET_NAME="matches"
MINIO_STATISTICS_BUCKET_NAME="statistics"